{% extends 'base.html' %}

{% block title %}
  Contact
{% endblock %}

{% block body %}
  <div class="container-fluid my-2">
    <img src="static/img/contact.avif" style="height: 400px; width: 1235px;" />
  </div>
  <div class="container py-1">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" />
      </div>
      <div class="form-group">
        <label for="number">Phone Number</label>
        <input type="number" class="form-control" id="number" name="contact" placeholder="Enter your contact" />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Tell me about what you want to contact me for..</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" style="margin-left: 500px;">Submit</button>
    </form>
  </div>
{% endblock %}
