{% extends "base.html" %}
{% block title %} 
Login
{% endblock title %}

{% block body %}
<div class="container-fluid my-2">
    <img src="static/img/login.avif" style="height: 400px; width: 1235px;"/>
</div>
<div class="container py-2">
    <h1 class="text-center">Login</h1>
    <form method="post" action="/login" style="margin-left: 200px;">
        {% csrf_token %}
        <div class="form-group col-md-10 px-0">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group col-md-10 px-0">
            <label for="text">Username</label>
            <input type="text" class="form-control" id="text" name="username">
        </div>
        <div class="form-group col-md-10 px-0">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 320px;">Login</button>
    </form>
</div>
{% endblock %}